# ~/.pylintrc

[MASTER]
disable=
    C0103, #invalid-name
    C0114, #missing-module-docstring
    C0115, #missing-class-docstring
    C0116, #missing-function-docstring
    C0209, #consider-using-f-string
    R1714, #consider-using-in
    R1722, #consider-using-sys-exit
